<div class="centercontainer resumepadding">
    <div class="centerrow">
        <div class="centercolumnresume">
            <div class="jumbotron">
                <% if @parent.try(:title) %>
                    <h2>
                        <%= @parent.title %>
                        <br>
                        <br>
                        <small>Contact: <i><%= @parent.user.name %></i></small>
                    </h2>
                    <br>
                    <br>
                    <% unless current_user.try(:admin?) %>
                        <a href="#description" data-target="#description" data-toggle="modal" class="btn btn-primary btn-block">Opportunity Description</a>
                    <% end %>
                    <div class="modal fade" id="description">
                        <div class="modal-dialog well">
                            <h2>
                                <%= @parent.title %>
                            </h2>
                            <p>
                                <h3><strong>Description:</strong></h3><br>
                                <%= raw(@parent.description) %>
                            </p>
                            <br>
                            <hr>
                            <br>
                            <p>
                                <h3><strong>Requirements:</strong></h3><br>
                                <%= raw(@parent.requirements) %>
                            </p>
                            <br>
                            <hr>
                            <br>
                            <p>
                                <h3><strong>Benefits:</strong></h3><br>
                                <%= raw(@parent.benefits) %>
                            </p>
                            <br>
                            <hr>
                            <button class="btn btn-block btn-danger" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
                        </div>
                    </div>
                <% else %>
                    <div class="jumbotron">
                        <p>
                            <%= @parent.letter %>       
                        </p>
                    </div>
                <% end %>
            </div>
        	<div class="panel panel-default">
                <div class="panel-heading">
                    <% if @parent.try(:title) %>
                        <h2 class="panel-title">Apply | Write a Cover Letter</h2>
                    <% else %>
                        <h2 class="panel-title">Respond to Applicant</h2>
                    <% end %>
                </div>
                <div class="panel-body">
                    <%= form_for [@parent, @cover] do |f| %>
        				<div class="form-group">
                            <% if @parent.try(:title) %>
        					   <%= f.bootsy_area :letter, class:"form-control", placeholder: "Write about your interest in the position and how your education, skills, and experience make you a good candidate.  Please address the name of the point of contact for the opportunity.", rows: "12", editor_options: { image: false, font_styles: false, color: false } %>
                            <% else %>
                               <%= f.bootsy_area :letter, class:"form-control", placeholder: "Will you invite the applicant for an interview or politely decline?", rows: "8", editor_options: { image: false, font_styles: false, color: false } %>    
                            <% end %>
        				</div>
        				<div class="form-group">
        					<%= f.submit class: "btn btn-success btn-block" %>
						</div>    				
    				<% end %>
                </div>
                <div class="panel-footer">
                    <%= link_to 'Back', :back %>
                </div>
            </div>
        </div>
    </div>
</div>


    