<div class="centercontainer reviewsdiv">
	<div class="centerrow">
		<div class="centercolumn">
			<div class="page-header text-center">
				<div class="animated flipInX">
					<%= image_tag('aytext.png', :alt => "Brand", :class => "inline-block pageimage") %>
				</div>
				<h1>
					Apply Yourself
					<br>
					<small>(simulated job hunting)</small>
				</h1>
			</div>
			<% unless user_signed_in? %>
				<p class="text-center"><%= link_to "Get Started", new_user_registration_path, class: "btn btn-primary btn-raised" %> or <%= link_to "Log in", new_user_session_path %></p>
			<% else %>
				<% unless current_user.resume(@resume) or current_user.try(:admin?) %>
					<%= link_to "Build Your Resume", new_resume_path, class: "btn btn-block btn-primary btn-raised" %>
				<% else %>
					<%= link_to "Browse Opportunities", jobs_path, class: "btn btn-primary btn-raised btn-block" %>
					<div class="text-center">
						<br>| or |<br>
						<a href="http://www.speakconfidentenglish.com/10-interview-questions-in-english/" target="_blank">Practice Common Interview Questions</a>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>