<div class="centercontainer reviewsdiv">
	<div class="centerrow">
		<div class="centercolumn">
			<div class="page-header text-center">
				<div class="animated flipInX">
					<%= image_tag('aytext.png', :alt => "Brand", :class => "inline-block pageimage") %>
				</div>
				<h1>
					Apply Yourself
					<br>
					<small>(simulated job hunting)</small>
				</h1>
			</div>
			<% unless user_signed_in? %>
				<p class="text-center"><%= link_to "Get Started", new_user_registration_path, class: "btn btn-primary btn-raised" %> or <%= link_to "Log in", new_user_session_path %></p>
			<% else %>
				<% unless current_user.resume(@resume) %>
					<%= link_to "Build Your Resume", new_resume_path, class: "btn btn-block btn-primary btn-raised" %>
				<% else %>
					<%= link_to "Improve Your Resume", current_user.resume, class: "btn btn-block btn-primary btn-raised" %>
					<br>
					<div class="well">
						<p><%= current_user.name %>, <br><br>Please read the review I have left below your resume.  Then, make changes to your resume following the recommendations. <br><br><strong>-Thaddeus</strong></p>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>