<%= form_for(resume) do |f| %>
  <% if resume.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

      <ul>
      <% resume.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="create resume" class="active"><a href="#contactArea" aria-controls="contactArea" role="tab" data-toggle="tab">Contact</a></li>
      <li role="create resume"><a href="#objectiveArea" aria-controls="objectiveArea" role="tab" data-toggle="tab">Objective <span class="glyphicon glyphicon-pencil"></span></a></li>
      <li role="create resume"><a href="#educationArea" aria-controls="educationArea" role="tab" data-toggle="tab">Education <span class="glyphicon glyphicon-pencil"></span></a></li>
      <li role="create resume"><a href="#experienceArea" aria-controls="experienceArea" role="tab" data-toggle="tab">Experience <span class="glyphicon glyphicon-pencil"></span></a></li>
      <li role="create resume"><a href="#skillsArea" aria-controls="skillsArea" role="tab" data-toggle="tab">Skills <span class="glyphicon glyphicon-pencil"></span></a></li>
      <li role="create resume"><a href="#referencesArea" aria-controls="referencesArea" role="tab" data-toggle="tab">References <span class="glyphicon glyphicon-pencil"></span></a></li>
    </ul>
    <br>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="contactArea">
            <%= f.bootsy_area :contact, rows: "4", placeholder: "Provide ways for potential employers to contact you", class: "form-control", editor_options: { image: false, color: false } %>
            <br>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="objectiveArea">
            <%= f.text_field :objective, placeholder: "What is your goal (eg. 'To begin a career as ...')?", class: "form-control" %>
            <br>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="educationArea">
            <%= f.bootsy_area :education, rows: "5", placeholder: "What important courses have you taken that relate to this position?", class: "form-control", editor_options: { image: false, color: false } %>
            <br>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="experienceArea">
            <%= f.bootsy_area :experience, rows: "4", placeholder: "Do you have any work or volunteer experience?  List it here.", class: "form-control", editor_options: { image: false, color: false } %>
            <br>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="skillsArea">
            <%= f.bootsy_area :skills, rows: "3", placeholder: "What other skills do you have that relate to the job (eg. computers, design, character qualities)?", class: "form-control", editor_options: { image: false, color: false } %>
            <br>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="referencesArea">   
            <%= f.bootsy_area :references, rows: "3", placeholder: "Provide contact information for people who can comment about your work", class: "form-control", editor_options: { image: false, color: false } %>
            <br>
        </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-block btn-success" %>
  </div>

  
<% end %>
