<% if current_user.try(:admin?) %>
    <p id="notice"><%= notice %></p>

    <div class="row resumepadding">
        <div class="col-xs-12 panelpaddingbottom">
            <div class="text-center">
                <h1>All Resumes</h1>
            </div>
            <br>
        </div>
        <div class="col-xs-12">       
            <% @resumes.each do |resume| %>
                <div class="jumbotron panelpadding panelpaddingbottom">
                    <h2>
                        <%= resume.user.name %>
                        <%= link_to resume do %>
                            <span class="glyphicon glyphicon-search"></span>
                        <% end %>
                    </h2>
                    <p><%= resume.objective %></p>
                        <div class="btn-group">
                            <%= link_to 'Edit', edit_resume_path(resume), class: "btn btn-info" %>
                            <%= link_to 'Delete', resume, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
                        </div>
                </div>
            <% end %>
        </div>
    </div>
<% else %>
    <div class="jumbopadding">
        <div class="jumbotron">
            <h1>Not authorized.</h1>
            <p><%= link_to "Go Back", root_path, class: "btn btn-info" %></p>
        </div>
    </div>
<% end %>
