<!DOCTYPE html>
<html>
  <head>
    <title>Apply Yourself</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'aytext.png' %>
    <% if user_signed_in?%>
    	<%= render 'pages/header' %>
    <% end %>
    <% flash.each do |name, msg| %>
        <div class="alert alert-info alert-dismissable text-center animated fadeOut">
            <%= content_tag(:div, msg) %>
        </div>
    <% end %>
  </head>

  <body>
      <div class="container" id="container">
          <div id="content">
	           <%= yield %>
          </div>
          <div id="footer" class="text-center">
              <%= render 'pages/footer' %>
          </div>
      </div>
  </body>
</html>
