<!DOCTYPE html>
<html>
  <head>
    <title>AY</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>

    <% if user_signed_in?%>
    	<%= render 'pages/header' %>
    <% end %>
    <% flash.each do |name, msg| %>
        <div class="alert alert-info alert-dismissable text-center animated fadeOut">
            <%= content_tag(:div, msg) %>
        </div>
    <% end %>
  </head>

  <body>
      <div class="container">
	       <%= yield %>
      </div>
      <%= render 'pages/footer' %>
  </body>
</html>
